:root {
	/**
		* Root Variables
	*/
	--root-font-size: 15px;

	/**
		* Body Variables
	*/
	--body-background-color: #e5e5e5;
	--body-text-color: #080a2b;
	--body-font-weight: 400;
	--body-font-size: 1rem;
	--body-font-family: "'IRANSansX', Arial, Tahoma, 'Times New Roman', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'";
}
